<section class="voluntario-container">
    <h1>Junte-se a nós</h1>
    <div *ngIf="showSuccess" class="success-message">
        Inscrição enviada com sucesso! Obrigado por se voluntariar 💜
    </div>

    <p>Quer fazer parte do time que transforma milhares de vidas?<br>
        Inscreva-se abaixo e aguarde nosso retorno!</p>
    
    <div class="inicio-forms-vol"></div>
    <form [formGroup]="volunteerForm" (ngSubmit)="onSubmit()" novalidate>
        <!-- Nome -->
        <div class="form-group">
        <label>Nome completo *</label>
        <input formControlName="nome" type="text" [class.invalid]="isInvalid('nome')" placeholder="Digite seu nome completo" />
        <small *ngIf="isInvalid('nome')">Informe seu nome completo</small>
        </div>

        <!-- Idade / Cidade -->
        <div class="form-row">
        <div class="form-group">
            <label>
                <input type="checkbox" formControlName="maioridade" />
                Sou maior de 18 anos *
            </label>
            <div *ngIf="volunteerForm.get('maioridade')?.touched && volunteerForm.get('maioridade')?.invalid" class="error">
                Você precisa confirmar que é maior de 18 anos
            </div>
        </div>

        <div class="form-group">
            <label for="cpf">CPF *</label>
            <input
                id="cpf"
                type="text"
                formControlName="cpf"
                placeholder="000.000.000-00"
                (input)="formatCPF($event)"
                maxlength="14"
                required
            />
            <div *ngIf="volunteerForm.get('cpf')?.touched && volunteerForm.get('cpf')?.invalid" class="error">
                CPF é obrigatório
            </div>
        </div>


        <div class="form-group">
            <label>Localização *</label>
            <input formControlName="localizacao" type="text" [class.invalid]="isInvalid('localizacao')" placeholder="Ex: São Paulo - SP" />
            <small *ngIf="isInvalid('localizacao')">Campo obrigatório</small>
        </div>
        </div>

        <!-- Contato -->
        <div class="form-row">
            <div class="form-group">
                <label>WhatsApp *</label>
                <ngx-intl-tel-input
                    (focusout)="hasInteractedWhatsapp = true"
                    [cssClass]='isWhatsAppInvalid() ? "custom-tel-input invalid" : "custom-tel-input"'
                    [preferredCountries]="[CountryISO.Brazil, CountryISO.UnitedStates, CountryISO.Portugal]"
                    [enableAutoCountrySelect]="true"
                    [enablePlaceholder]="true"
                    [searchCountryFlag]="true"
                    [searchCountryField]="[SearchCountryField.All]"
                    [selectFirstCountry]="true"
                    [selectedCountryISO]="CountryISO.Brazil"
                    [maxLength]="15"
                    [phoneValidation]="true"
                    [separateDialCode]="true"
                    [numberFormat]="PhoneNumberFormat.International"
                    name="whatsapp"
                    formControlName="whatsapp">
                </ngx-intl-tel-input>

                <small *ngIf="isWhatsAppInvalid()" class="error-text">Informe um número válido</small>
            </div>

            <div class="form-group">
                <label>E-mail *</label>
                <input formControlName="email" type="email" [class.invalid]="isInvalid('email')" placeholder="seuemail@exemplo.com" />
                <small *ngIf="isInvalid('email')">E-mail inválido</small>
            </div>
        </div>

        <!-- Profissão -->
        <div class="form-group">
        <label>Profissão / Área de atuação *</label>
        <input formControlName="profissao" type="text" [class.invalid]="isInvalid('profissao')" placeholder="Ex: Designer, Engenheira..." />
        <small *ngIf="isInvalid('profissao')">Campo obrigatório</small>
        </div>

        <!-- Setor -->
        <div class="form-group">
        <label>Setor de interesse *</label>
        <select formControlName="setorInteresse" [class.invalid]="isInvalid('setorInteresse')">
            <option value="">Selecione uma opção</option>
            <option value="Ações sociais">Ações sociais</option>
            <option value="Administração">Administração</option>
            <option value="Contabilidade">Contabilidade</option>
            <option value="Educação">Educação</option>
            <option value="Enfermagem">Enfermagem</option>
            <option value="Finanças">Finanças</option>
            <option value="Fisioterapia">Fisioterapia</option>
            <option value="Jurídico">Jurídico</option>
            <option value="Marketing">Marketing</option>
            <option value="Mentoria de carreira">Mentoria de carreira</option>
            <option value="Medicina">Medicina</option>
            <option value="Odontologia">Odontologia</option>
            <option value="Psicologia">Psicologia</option>
            <option value="Tecnologia">Tecnologia</option>
            <option value="Outras">Outras</option>
        </select>
        <small *ngIf="isInvalid('setorInteresse')">Selecione uma área</small>
        </div>

        <!-- Contribuição -->
        <div class="form-group">
        <label>Como você pode contribuir conosco? *</label>
        <textarea
            formControlName="contribuicao"
            rows="4"
            [class.invalid]="isInvalid('contribuicao')"
            placeholder="Conte um pouco sobre como você gostaria de impactar vidas."
        ></textarea>
        <small *ngIf="isInvalid('contribuicao')">Campo obrigatório</small>
        </div>

        <!-- Disponibilidade -->
        <div class="form-row">
        <div class="form-group">
            <label>Disponibilidade semanal (em horas) *</label>
            <input
            formControlName="disponibilidadeHoras"
            type="number"
            [class.invalid]="isInvalid('disponibilidadeHoras')"
            placeholder="Ex: 6"
            />
            <small *ngIf="isInvalid('disponibilidadeHoras')">Informe quantas horas semanais</small>
        </div>

        <div class="form-group">
            <label>Modelo de trabalho *</label>
            <select formControlName="modeloDeTrabalho" [class.invalid]="isInvalid('modeloDeTrabalho')">
            <option value="">Selecione</option>
            <option value="Remoto">Remoto</option>
            <option value="Presencial">Presencial</option>
            <option value="Híbrido">Híbrido</option>
            </select>
            <small *ngIf="isInvalid('modeloDeTrabalho')">Campo obrigatório</small>
        </div>
        </div>

        <!-- Currículo -->
        <div class="form-group">
            <label for="curriculum">Currículo (PDF, opcional)</label>
            <input type="file" id="curriculum" (change)="onFileChange($event)" />
        </div>

        <!-- Links -->
        <div class="form-row">
        <div class="form-group">
            <label>LinkedIn (opcional)</label>
            <input formControlName="linkedin" type="url" placeholder="https://linkedin.com/in/seu-perfil" />
        </div>

        <div class="form-group">
            <label>Portfólio (opcional)</label>
            <input formControlName="portfolio" type="url" placeholder="https://seuportfolio.com" />
        </div>
        </div>

        <!-- Botão -->
        <div class="form-actions">
        <button type="submit" [disabled]="volunteerForm.invalid">Enviar inscrição</button>
        </div>
    </form>
</section>
