<footer>
    <div class="rodape">
        <div class="rodape_conteudo">
            <img class="logo_rodape" src="assets/imgs/Logo.png" onclick="voltarHome()" alt="Logo Mãos Amigas">
            <div class="colunas">

                <div class="coluna">
                    <span>
                    <p>SOBRE</p>
                    <a href="#quem-somos" class="button_rodape">Quem Somos</a>
                    <a href="#impacto" class="button_rodape">Nosso Impacto</a>
                    <a href="#servicos" class="button_rodape">Serviços</a>
                    <a routerLink="/transparencia" class="button_rodape">Transparência</a>
                    </span>
                </div>

                <div class="coluna">
                    <span>
                    <p>CONTATO</p>
                    <a href="#contato" class="button_rodape">Contato</a>
                    </span>
                </div>

                <div class="coluna">
                    <span>
                    <p>OUTROS</p>
                    <!--<a href="#" class="button_rodape">Login</a>
                    <a href="#" class="button_rodape">Cadastro</a> -->
                    <a routerLink="/gerador-curriculo" class="button_rodape">Gerar Currículo</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="ultima-linha-rodape">
            <p>© 2025 Instituto Mãos Amigas. Todos os direitos reservados.</p>
            <p>IMA - INSTITUTO MÃOS AMIGAS | CNPJ: 53.065.585/0001-94</p>
            <div class="rodape-redes-sociais">
            <a href="https://www.facebook.com/sejamaosamigas/" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/sejamaosamigas/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/company/m%C3%A3os-amigas/posts/?feedView=all" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            </div>
        </div>
    </div>
    <a href="https://w.app/3gjibx" class="whatsapp-btn" aria-label="WhatsApp"><i class="fa-brands fa-whatsapp"></i></a>
</footer>