<header>
    <div class="note-nav">
        <img src="assets/imgs/Logo.png" onclick="voltarHome()" alt="Logo Mãos Amigas" />
        <nav>
            <div class="menu">
            <ul class="nav-list">
                <li><a href="#home">INÍCIO</a></li>
                <li><a href="#quem-somos">QUEM SOMOS</a></li>
                <li><a href="#impacto">NOSSO IMPACTO</a></li>
                <li><a href="#servicos">SERVIÇOS</a></li>
                <li><a href="#contato">CONTATO</a></li>
                <li><a routerLink="/seja-voluntario">SEJA VOLUNTÁRIO</a></li>
                <li><a routerLink="/transparencia">TRANSPARÊNCIA</a></li>
            </ul>
            </div>
            <button class="botao-doar" routerLink="/doacoes" aria-label="Doar Agora">DOAR AGORA</button>
            <!--<button class="botao-login" onclick="login()" aria-label="Login">LOGIN</button> -->
        </nav>
    </div>
</header>