.note-nav {
    display: flex;
    flex-direction: row;
    background-color: var(--Branco-Gelo);
    align-items: center;
    justify-content: space-between;
    padding: 26px 24px;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 20;
    top: 0;
    transition: box-shadow 0.2s ease, background-color 0.2s ease;

    img {
        width: auto;
        height: 40px;
        max-width: 220px;
        object-fit: contain;
        cursor: pointer;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        flex: 1;

        .menu {
            flex: 1;
            display: flex;
            justify-content: center;
            margin: 0;
        }

        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            width: auto;
            justify-content: center;
            gap: 12px;
            align-items: center;
            flex-wrap: nowrap;

            li {
                margin: 0 8px;
                font-weight: 500;
                color: var(--Preto);
                cursor: pointer;
                transition: color 0.3s ease, transform 0.3s ease;
                font-size: var(--tamanho-fonte-menor);

                a {
                    text-decoration: none;
                    color: var(--Preto);
                    text-transform: uppercase;
                    white-space: nowrap;
                }

                a:hover {
                    color: var(--Laranja);
                    transform: scale(1.1);
                }
            }
        }
    }
}

.botao-doar {
    width: 100%;
    height: 2.2rem;
    border-radius: 20px;
    background-color: var(--Laranja);
    color: var(--Branco-Gelo);
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: var(--tamanho-fonte-menor);

    &:hover {
        background-color: var(--Laranja-escuro);
        transition-duration: var(--trasicao-botao);
    }
}

.botao-login {
    width: 100%;
    height: 2.2rem;
    border-radius: 20px;
    background-color: var(--Branco-Gelo);
    color: var(--Preto);
    font-weight: bold;
    border: 1px solid var(--Preto);
    cursor: pointer;
    font-size: var(--tamanho-fonte-menor);

    &:hover {
        background-color: #e5e9f1;
        color: var(--Preto);
        transition-duration: var(--trasicao-botao);
    }
}
  
body {
    padding-top: 10vh;
}